body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1D2671, #C33764);
    color: white;
    margin-bottom: 100px;
    padding-bottom: 100px
}

head {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

p {
    border: none;
    border-radius: 20px;
    background: #1D2671;
    padding: 10px;
}

p:hover {
    background: linear-gradient(to left, #1D2671, #C33764);
}



.error-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.error-container  a{
color: white;

}
.home-button {
    border-radius: 20px;


    display: inline-block;
    padding: 4px 10px;
    background-color:rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
}

.home-button:hover {
border-radius: 20px;
    opacity: 0.8;
    transform: scale(1.05);
}

footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
}

footer li{
    list-style: none;
    display: inline;
    margin-right: 10px;
    background-color: #1D2671;
    border: none;
    cursor: pointer;
  padding: 4px 16px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    border-radius: 20px;
    font-size: 15px;

}
footer li a {
    color: white;
    text-decoration: none;

  
}

footer li:hover{
    border-radius: 20px;
    background: linear-gradient(to left, #1D2671, #C33764);
}

