body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.search-form {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #ccc;
}

.search-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.search-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-form button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #5C6BC0;
}

.search-form button:hover {
    background-color: #7986CB;
}

.home-button {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #FF4081;
}

.home-button:hover {
    background-color: #F06292;
}
